{% extends "Lab1/base.html" %}

{% block content %}

{% if form.errors %}
  <p class="text-red-500 italic">Пользователь не найден. Попробуйте еще раз.</p>
  <!-- <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{% url 'login' %}">
    Обратно
  </a> -->
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Ау, вы уже залогинены!.</p>


  {% else %}
  <div class="w-full">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-4 ">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          {{ form.username.label_tag }}
        </label>
        {{ form.username }}
        <!-- <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username"> -->
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          {{ form.password.label_tag }}
        </label>
        {{ form.password }}
        <!-- <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************"> -->
        <p class="text-red-500 text-xs italic">Please choose a password.</p>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Sign In
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
        <!-- <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{% url 'password_reset' %}">
          Forgot Password?
        </a> -->
      </div>
    </form>
    </div>
    {% endif %}
  {% endif %}
{% endblock %}
