{% extends 'Lab1/base.html' %}

{% load static %}
{% load add_attr %}

{% block title %}
    Basket
{% endblock %}

{% block accounts %}
{% if user.is_authenticated %}

  <div class="text-white text-md"> Здравствуйте, {{ user.get_username }} </div>
  <div class="py-2">
    <a href="{% url 'logout'%}?next=/" class="mr-5 inline-block text-sm px-2 py-1 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Выйти</a>
  </div>
{% endif %}

{% endblock %}


{% block content %}
{% if user.is_authenticated %}

{% if basket.products.exists %}
  {% if not basket.in_order %}
    <div class="grid grid-cols-3 gap-4 my-10">
        {% for basket_item in basket.products.all %}
              <div class="max-w-sm rounded overflow-hidden shadow-lg">
              {% if basket_item.product.product_image %}
                <img class="w-full" src="/{{ basket_item.product.product_image.url }}" alt="product: {{ basket_item.product.name }}">
              {% endif %}

              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ basket_item.product.name }}</div>
                <p class="text-gray-700 text-base">
                  {{ basket_item.product.price }} грн за 1 шт.
                </p>
              </div>
              <div class="px-6 py-4">
                <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                  <input id="{{ basket_item.product.id }}_amount" disabled class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="number" value = '{{ basket_item.amount }}' placeholder="1">
                  <label class="class=flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded">
                    шт.
                  </label>
                </div>

                <div class = "my-2">
                  <button id='add_{{ basket_item.product.id}}' class="hidden inline-block bg-green-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 hover:bg-green-200" onclick="AddToBasket('{{ basket_item.product.id }}','{{ basket.id }}',true);">Вернуть</button>
                  <button id='delete_{{ basket_item.product.id }}' class="inline-block bg-red-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 hover:bg-red-200" onclick="removeFromBasket('{{ basket_item.product.id }}','{{ basket.id }}',true);">Удалить из корзины</button>
                </div>

              </div>
            </div>
        {% endfor %}
    </div>

    <div class="flex items-center border-b border-b-2 border-teal-500 py-2 bg-grey-100 text-xl">
      <label class="class=flex-shrink-0 border-transparent border-4 text-green-500 hover:text-teal-800 py-1 px-2 rounded">
        Всего:
      </label>
      <input id="common_price" class="appearance-none bg-transparent border-none w-full mr-3 py-1 px-2 leading-tight text-green-500 hover:text-teal-800 focus:outline-none" value={{ initial_common_price }} disabled type="number" placeholder="1">
    </div>

    <div class="my-10">
        <p class="block uppercase tracking-wide text-green-500 text-xl font-bold mb-2">Оформить заказ</p>
        <div class="my-8">
            <form class="w-full" method='POST'>
              {% csrf_token %}
              <div class="flex flex-wrap -mx-3 mb-6 ">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Номер телефона
                  </label>
                  {{ order_form.phone_number|add_attr:"placeholder:+xxxxxxxxxx,pattern:\+[0-9]{12}, class:appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" }}
                  <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane"> -->
                  <p class="text-red-500 text-xs italic">Введите Ваш номер телефона</p>
                </div>
                <div class="w-full md:w-1/3 px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Пожелания
                  </label>
                  {{ order_form.wishes|add_attr:"maxlength:100, class:form-textarea bg-gray-200 text-gray-700 border rounded mt-1 block w-full,rows:5,placeholder:Оставьте Ваши пожелания" }}
                  <!-- <span class="text-sm">
                    Не перезванивайте мне, пожалуйста
                  </span> -->
                </div>
                <div class="w-full md:w-1/3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Дополнительно
                  </label>
                  {{ order_form.dont_call|add_attr:"ml-4 text-xl" }}
                  <span class="text-sm">
                    Не перезванивайте мне, пожалуйста
                  </span>
                </div>
                    {{ order_form.basket|add_attr:"class:hidden" }}
              </div>
                  <p class='my-8'><button type='submit' class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Оформить
                  </button></p>
            </form>
        </div>
    </div>
    {% else %}
      <p class="text-green-500 bg-grey-100 text-xl">Ваш заказ принят на обработку!</p>
      <form method="POST" action="{% url 'delete-order' %}?path={{ request.path }}">
        {% csrf_token %}
      <p class='my-8'><button type="submit" class="bg-green-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Снять с обработки
      </button></p>
      </form>

    {% endif %}
{% else %}
  <p class="text-green-500 bg-grey-100 text-xl">Ваша карзина пуста</p>
{% endif %}

{% endif %}
{% endblock %}

{% block custom_js %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <script>

  </script>

  <script src="{% static 'Lab1/js/basketControl.js' %}"> </script>
{% endblock %}
